:where(body[data-view="node"]) {
	main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 3.2em;
		padding: 4.4em 3.2em 3.2em;
	}

	.collector {
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 2.2em;

		&:not(.nobg) {
			background-color: #fff1;
		}
	}

	.title {
		font-weight: 700;
		font-size: 1.2em;
	}
}
