@import url("./node.css");

:where(body[data-view="main"]) {
	overflow: hidden;

	main {
		background-color: #08031a;

		canvas {
			display: block;
		}
	}

	canvas.background {
		inset: 0;
		pointer-events: none;
		position: absolute;
	}
}
