:where(body[data-view="main"]) {
	node {
		background-color: #fff1;
		border-radius: 14px;
		cursor: pointer;
		padding: 2em;
		transition: 200ms;

		&:hover {
			background-color: #fff2;
		}

		header {
			align-items: end;
			display: flex;
			flex-direction: row;
			gap: 0.5em;

			subtitle {
				font-size: 1.2em;
				margin-bottom: 0.3ex;
			}
		}
	}
}
