:where(body[data-view="main"]) {
	node {
		border: 6px solid #333;
		border-radius: 15px;
		cursor: pointer;
		padding: 2.1rem 2.9rem;
		transition: 200ms;

		& > div:first-child {
			gap: 3rem;
		}

		.display {
			margin: -0.65rem 0 -1rem 0;

			span {
				margin-right: 1rem;
			}
		}
	}
}
