.contains-piechart-label {
	position: relative;
}

.chart-label::before {
	background-color: var(--label-fg);
	content: "";
	display: inline-block;
	height: 11px;
	margin: 0 5px 0 2px;
	width: 11px;
}
