.contains-piechart-label {
	position: relative;
}

.piechart-label {
	color: var(--sector-color);
	display: none;
	position: absolute;

	&.active {
		display: block;
	}

	svg {
		position: absolute;
		display: none;

		* {
			stroke: var(--sector-color);
		}
	}
}
