@import url("../../../../monospace.css");
@import url("./colors.css");

:where(body[data-view="node"]) {
	.title-logo {
		font-size: 0.65em;
	}

	.page-title {
		margin: 1em 0 0 2em;
	}

	.subtitle-kernel {
		font-size: 0.8em;
		text-align: right;
	}

	.subtitle-host {
		margin-top: 2em;
		text-align: center;
	}

	.title {
		font-weight: 700;
		font-size: 1.2em;
	}
}
