@import url("../../../../monospace.css");
@import url("./colors.css");

:where(body[data-view="node"]) {
	div.title-container {
		padding: 0 3em 0 2.8em;
	}

	.page-title {
		margin: 2em 0 0 1.8em;
	}

	.subtitle-kernel {
		font-size: 0.8em;
		text-align: right;
	}

	.subtitle-host {
		margin-top: 2em;
		text-align: center;
	}
}
