@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format("woff2");
}

@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff2) format("woff2");
}

@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-700-normal.woff2) format("woff2");
}

body {
	font-family: Poppins, sans-serif;
	font-weight: 400;
}

subtitle {
	font-size: 1.27rem;
}

.monospace {
	font-family: "Maple Mono", monospace;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.83rem;
	white-space: pre;
}

.display {
	font-size: 3.7rem;
	font-weight: 700;
}

.display-em {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.35rem;
	font-size: 5.4rem;
	font-weight: 800;
	letter-spacing: -4.1%;

	&.tmargin-0 {
		margin-top: -1rem;
	}
}

