:where(body[data-view="node"]) {
	main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 3.2em;
		padding: 4.4em 3.2em 3.2em;
	}

	.collector {
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 2.2em;

		&:not(.nobg) {
			background-color: #fff1;
		}
	}

	.title {
		font-weight: 700;
		font-size: 1.2em;
	}

	.back-button {
		left: 42px;
		padding: 10px;
		position: absolute;
		top: 29px;

		button {
			background-color: transparent;
			border-bottom: 2px solid #eee;
			border-left: 2px solid #eee;
			border-right: none;
			border-top: none;
			height: 12px;
			transform: rotate(45deg);
			transition: 200ms border-color;
			width: 12px;
			
			.back-button:hover & {
				border-color: var(--fg);
			}
		}
	}
}
